<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Photos Library</a>
        </div>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li{% if '/UploadMulti/' in request.path %} class="active"{% endif %}>
                    <a href="{% url 'uploadMulti:basic_upload' %}">Photos</a>
                </li>

                <li> <!-- 搜索框 如何居右? {# action= {% url 'search' %} #}-->
                    <form method="post" action="" class="navbar-form navbar-left" rol="search">
                        {% csrf_token %}
                        <div class="form-group" >
                            <input name='q' type="text" class="form-control" placeholder="请输入关键词" />
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 搜 索</button>
                    </form>
                </li>


                
            </ul>
        </div>
    </div>
</nav>
